<!doctype html>

<html>
<head>
</head>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li>
		{{ message }}
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}

<body>
	<h1> Threads Add </h1>
	
	<form method="POST" action="{{url_for('threads_add')}}">
		<input type="text" name="dmc" placeholder="Enter the DMC number"
								required />
		<input type="text" name="amount_have" placeholder="Amount have"/>
		<button type="submit"> Add Thread</button>
	</form>
</body>
</html>
