<!doctype html>

<html>
<head>
</head>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li>
		{{ message }}
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}

<body>

	<h1> Add A New Thread </h1>
	
	<form method="POST" action="{{url_for('threads_main')}}">
		<input type="text" name="dmc" placeholder="Enter the DMC number"
								required />
		<input type="text" name="amount_have" placeholder="Amount have"/>
		<button type="submit" name="identifier" value="new"> Add Thread</button>
	</form>

	<h1> All Threads </h1>
	<table>
		<tr>
			<th> DMC </th>
			<th> Amount Owned </th>
		</tr>
		{% for thread in all_threads %}
		<tr>
			<td> {{ thread["dmc"] }} </td>
			<td> 
				<form method="POST" action="{{url_for('threads_main')}}">
					<input type="hidden" name="dmc" value="{{thread['dmc']}}" />
					<input type="text" name="amount_have"
							value="{{thread['amount have']}}" />
					<button type="sumbit" name="identifier" value="update">
						Update
					</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>

</body>
</html>
